@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.nologo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.syndlend-doodle {
  background: url(./images/syndlend-doodle.png) no-repeat center;
  display: inline-block;
  width: 60px;
  height: 60px;

}

.syndlend-logo {
  background: url(./images/syndlend-logo.png) no-repeat center;
  display: inline-block;
  width: 200px;
  height: 60px;

}
.requests-bar {
  margin: 1.5em 0em;
}

.ant-layout-sider {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.ant-layout-content {
  max-height: calc(100vh - 115px);
  overflow: auto;
}

.user-btn {
  float: right;
}

.ant-menu-inline > .ant-menu-item {
  height: 60px;
  line-height: 60px;
}

.ant-table {
  line-height: 1.0;
}

.main-menu {
  height: "100%";
  border-right: 0;
}
